Host hio, hanrahan.io
  HostName hanrahan.io
  User john
  IdentityFile ~/.ssh/id_rsa

Host bastion
  HostName 54.183.210.117
  User johnhanrahan
  IdentityFile                 ~/.ssh/id_rsa_vicky
  ForwardAgent yes

## United States
Host 172.31.*
  ProxyCommand          ssh -A bastion -W %h:%p
  User                             johnhanrahan
  IdentityFile                   ~/.ssh/id_rsa_vicky

Host ip-172-31-*.us-west-1.compute.internal
  ProxyCommand          ssh -A bastion -W %h:%p
  User                           johnhanrahan
  IdentityFile                 ~/.ssh/id_rsa_vicky




# Ireland
Host 172.17.*
  ProxyCommand           ssh -A 52.19.175.215 nc %h %p -vv
  User                   johnhanrahan
  IdentityFile           ~/.ssh/id_rsa_vicky

Host ip-172-17-*.ap-southeast-1.compute.internal
ProxyCommand         ssh -A 52.19.175.215 nc -w300 %h %p
   User                           johnhanrahan
   IdentityFile                 ~/.ssh/id_rsa_vicky



## Singapore
Host 172.18.*
  ProxyCommand           ssh -A 54.254.212.243 nc %h %p -vv
  user                   johnhanrahan
  IdentityFile           ~/.ssh/id_rsa_vicky

Host ip-172-18-*.ap-southeast-1.compute.internal
   ProxyCommand         ssh -A 54.254.212.243 nc -w300 %h %p
   User                           johnhanrahan
   IdentityFile                 ~/.ssh/id_rsa_vicky

Host github-as-jh256
HostName github.com
  User git
  IdentityFile ~/.ssh/jh256_id_rsa
  IdentitiesOnly yes

Host *
  ServerAliveInterval 10
  StrictHostKeyChecking no
