[Unit]
Description=Updates route53 dna A records to point to this machine
# Should go in /run/systemd/system.  Also needs the script installed in opt

[Service]
Type=oneshot
ExecStart=/opt/update_dns
After=network-online.target 
TimeoutSec="infinity"


[Install]
WantedBy=multi-user.target
